<!DOCTYPE html>
<html lang="en">

<%- include("../component/head") %>

<body>
  <div class="wrapper">
    <%- include("../component/header",{param:{}}) %>

    <h1>乐三消</h1>

    <em>乐三消是我2013年开发的一款模拟当时热门手游《开心消消乐》的AS版本游戏demo，我在github上看到有几个开发者对此表示有兴趣，得空整理了下贴上来，github上的代码应该是全部了。
      使用Chrome浏览器打开，并且同意Chrome运行flash，firefox浏览器也可以打开，不过要自己设置开启运行flash等功能，我没有深入查阅如何开启，有兴趣的同学可以自己试试。</em>


    <p>
      这是款完全模仿火爆手游《开心消消乐》的网页游戏，用AS3开发。前期版本计划定期更新（每周日晚上更新），程序与资源已提交Github（见下），感兴趣的朋友可以fork自己看，或者📧我都行。另外还有[《乐三消》开发思维历程](/article?fileName=lsx_programming_thoughts)记录了一些设计历程。
    </p>

    <h2>开发阶段</h2>
    <table class="jct2">
      <tbody>
        <tr>
          <td>v2.0</td>
          <td>
            <p>v1.2版本来了，新增内容如前说述：</p>
            <ul>
              <li>篱笆墙；</li>
              <li>掉落速度问题；</li>
              <li>整理程序，提交GitHub（见下）；</li>
            </ul>
            <p>
              需要说明的是，游戏暂时改名为《乐三消》（lsx），因为老是说《开心消消乐》会让大家有所误解。这次版本除了以上3点外，继续对既有程序进行深度整合，这是我的编程风格，因为随着系统的复杂度提升，若是没有较之前更加合理，明确，健壮的模块（或者子系统）支持的话，整个游戏在程序开发过程中其困难度会成指数级增加。
            </p>
            <p>
              这次版本在我测试的过程中存在以下问题：由于动物在被消除后会有200到300ms的延迟掉落时间，以至于在触发直线与魔力鸟的组合消除时，这种延迟更容易导致动物之间的重叠。这个问题我会在未来某个版本修复，因为目前尚未最佳的解决思路；
            </p>
          </td>
        </tr>
        <tr>
          <td>v1.2</td>
          <td>
            <p>新增内容如前说述</p>
            <ul>
              <li> 篱笆墙； </li>
              <li> 掉落速度问题； </li>
            </ul>
            <p>
              需要说明的是，游戏暂时改名为《乐三消》（lsx），因为老是说《开心消消乐》会让大家有所误解。这次版本除了以上3点外，继续对既有程序进行深度整合，这是我的编程风格，因为随着系统的复杂度提升，若是没有较之前更加合理，明确，健壮的模块（或者子系统）支持的话，整个游戏在程序开发过程中其困难度会成指数级增加。
            </p>

            <p>
              这次版本在我测试的过程中存在以下问题：由于动物在被消除后会有200到300ms的延迟掉落时间，以至于在触发直线与魔力鸟的组合消除时，这种延迟更容易导致动物之间的重叠。这个问题我会在未来某个版本修复，因为目前尚未最佳的解决思路；
            </p>
          </td>
        </tr>
        <tr>
          <td>v1.1</td>
          <td>
            <p>v1.1版本来了，这次在v1的版本上主要优化了核心玩法的体验，尽可能的接近《开心消消乐》的感觉，同时新增以下功能：</p>
            <ul>
              <li>全部组合消除功能；</li>
              <li>解决了动物掉落时由于次序问题引起的重叠现象；</li>
              <li>从三个子系统中再次抽象出共同接口与通用方法，优化程序实现；</li>
            </ul>
            <p>此次版本地图用于以下测试（地图形状与编号来自《开心消消乐》）：</p>
            <ul>
              <li>地图1（心形地图）：用于测试不规则的地形；</li>
              <li>地图2（4列8行地图）：用于测试传送功能；</li>
              <li>地图3,4：用于测试组合连消；</li>
              <li>地图5：用于测试组合连消与传送；</li>
              <li>地图8：用于测试玻璃（或者叫气泡？）；</li>
              <li>地图33：用于测试雪块；</li>
            </ul>
            <p>这次发布了调试版本，大家可以注意查看游戏下方的调试说明，或者阅读下面按键说明，注意在非汉语输入法的情况下按键：</p>
            <ul>
              <li>p：暂停/开始自动掉落；</li>
              <li>n：暂停状态下步进；</li>
              <li>a：显示所有节点；</li>
              <li>f：显示父节点关系；</li>
              <li>s：显示子节点关系；</li>
              <li>q：显示特殊节点</li>
              <li>g：显示掉落网格；</li>
              <li>c：清除调试绘制图像;</li>
              <li>-：减速；</li>
              <li>+：加速；</li>
              <li>v：显示/隐藏静态动物；</li>
              <li>m：打印动物信息；</li>
              <li>w：改变选中动物的颜色；</li>
              <li>t：改变选中动物的类型；</li>
              <li>.（句号）：下一关；</li>
              <li>，逗号）：上一关；</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>v1.0</td>
          <td>
            <ul>
              <li>核心掉落功能；（可能与《开心消消乐》部分情况不太一样，我也不愿去强迫自己非要与其一模一样）；</li>
              <li>消除功能；</li>
              <li>雪、冰等障碍物的消除；</li>
              <li>普通、特效动物的消除；（组合消除目前没有实现魔力鸟与直线、爆炸特效鸟的组合）；</li>
              <li>特效、音效的部分表现；</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>


    <h1>演示与源码</h1>

    |演示地址(V2.0)|http://z.ooiii.com/wiki/legacy/lsx/index.html|
    |github源码地址|https://github.com/zspark/lsx|

  </div>
</body>

</html>