<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <%- include("component/header") %>
  <div id="basic_outer_div">

    <p>This file is currently editing by someone!</p>

  </div>
  <%- include("component/footer") %>
</body>

</html>