<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <%- include("component/header") %>
  <div id="basic_outer_div">

    <p>This file is NOT exist,click to <a href="/edit?n=<%= obj.fileName %>">create.</a></p>

  </div>
  <%- include("component/footer") %>
</body>

</html>