<html>
	<head>

		<link rel="icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon">
		<title>Spark Notes</title>
	</head>
	<body>
		<h1>404</h1>
		<a href="/index/">Return to home</a>
	</body>
</html>
