<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <%- include("component/header",{param:{fileName:obj.fileName}}) %>
  <div id="basic_outer_div_project">

    <%- obj.content%>

  </div>
  <%- include("component/footer") %>
</body>

</html>