<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <%- include("component/header") %>
  <div id="basic_outer_div">

    <h1> Oops!!</h1>
    <p>you have typed a illegal file name! </p>

  </div>
  <%- include("component/footer") %>
</body>

</html>