<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div class="wrapper">
    <%- include("component/header",{param:{}}) %>

    <%- obj.mdHtml %>

    <%- include("component/footer") %>
  </div>

  <script src="lib/prismjs/prism.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$', '$$', '$$'], ['\\(', '\\)', '\\[', '\\]']],
      }
    };
  </script>
</body>

</html>