<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>
<link rel="stylesheet" href="/css/prism.css" data-noprefix />

<body>
  <%- obj.content %>
  <script src="/js/prism.js"></script>
</body>

</html>