<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div id="basic_outer_div">

    <%- include("component/header") %>

    <h1> Oops!!</h1>
    <p>you have typed a illegal file name! </p>

    <%- include("component/footer") %>
  </div>
</body>

</html>