<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div id="basic_outer_div_code">

    <%- obj.content %>

  </div>
  <%- include("component/body_scripts") %>
</body>

</html>