<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div class="wrapper">

    <%- include("component/header",{param:{}}) %>

    <h1 id="contact">Contact Info</h1>
    <table class="jct2">
      <tbody>
        <tr>
          <td> Email:</td>
          <td><a href="#">z_spark<em>[at]</em> outlook <em>[dot]</em> com</a></td>
        </tr>
        <tr>
          <td> GitHub:</td>
          <td><a href="//github.com/zspark">github.com/zspark</a></td>
        </tr>
      </tbody>
    </table>

    <h1>About blog</h1>
    <p>🚧博客正在整理中...</p>

    <p>这是一个普通的IT开发者的的Blog，我希望自己能坚持记录下我在计算机科学中的学习与思考。</p>

    <p>Blog最早使用<a href="http://www.bokee.com/">博客网</a>提供的博客系统（后来应该是关闭了该服务），然后记录、转载了一些乱七八糟的东西，后来购买了阿里云服务器搭建了<a
        href="https://github.com/emlog/emlog">Emlog</a>小型博客系统，不过那已经是我踏入计算机科学后的事情了。再后来我使用<a
        href="https://jekyllrb.com/">Jekyll</a>系统，再后来使用<a href="https://www.pmwiki.org/">pmwiki</a>，直到现在用<a
        href="https://tiddlywiki.com">tiddlywiki</a>，因为在用Jekyll与pmwiki期间有诸多不便，比如我到了公司或者其他人的电脑上，就不能随心在博客中记录，即便机主同意，也不是很方便就能搭建起来Jekyll平台，更何况还有写好后的提交问题，不再使用pmwiki是因为需要php服务，这些都是一个方面；从技术博客的基本要求来看，一般需要代码高亮、链接等，这些Jekyll与pmwiki虽说都可以完成，但需要花功夫搭建、构建，最后还要上传，但是在使用了tiddlywiki之后，发现记录是那么的随心所欲，是那么的方便，我便深深的爱上了tiddlywiki。
    </p>


    <h1>About us</h1>
    <p>很高兴你能来到我的博客，因为它没有被推广，没有主动让搜索引擎收录，而你却发现了它。你应该是位与我一样一同追求计算机科学技术的人，甚至也是青睐于计算机图形图像与物理碰撞检测方面的技术。我叫Jerry
      Chaos，Jerry是高中时期一位来自英国的外教所起，他的名字叫Joe，因为我汉语名字读起来挺像这个发音，Joe当时听完马上说 “Mybe your English name is
      Jerry”。Chaos是我自己取的，因为我实在太喜欢这个单词及其所包含的意思了，我觉得只有CHAOS的状态才是极度有序、稳定的状态。于是我便根据时间顺序有了这么个英文名字。</p>

    <p>
      我对计算机编程的热爱应该源自对事物的好奇以及尚未减灭的创造欲。好奇让我想要一探究竟，从而在更深的一层去了解、学习一个东西；创造欲让我总觉得还有更好的办法去解决一个问题从而思考与编程乐在其中。我喜欢探究、创造新的东西但我不善言谈。还好自己此前几年就意识到了这个问题，经年来总是有心去改善。比如公司每周的“土豆会”我鼓励自己尽可能多的去做主角，从而更多的与他人“训练”交流，至少完全可以练习当众献丑的胆气。大学期间我学习了物理学专业，毕业后试图跨专业考取浙江大学研究生，未果，此后就直接进入了IT行业。最初是在苏州一家外籍华人在当地开的公司里做AS3游戏的开发，虽然当时薪水很低，但鉴于公司因为自己既非计算机专业又是行业新手而同意招聘，依然心怀感激。一年后我去了北京，来到了职业生涯中的第二家公司：北京超闪软件有限公司。刚进头两年正是手游起步阶段，于是公司项目频繁，大家也为了自己的利益忙于工作，整个创业小公司的气氛搞的非常活跃，加之全新的工作模式、工作方式以及大伙时不时的头脑风暴，让我快速接收了很多新鲜的东西，那两年真真是繁忙与充实并行，算是我能力的一次集中爆发成长阶段。此后一二年手游创业逐渐风平浪尽公司也开始转型，偶尔会有“偷的垂钓半日闲”的功夫。经过几年工作逐渐确定了自己未来的发展方向
      — 图形图像与物理碰撞。鉴于自己是物理学出身，整体而言基础物理与高等数学并非难事，瓶颈自然落在了图形图像及其碰撞相关理论之上。</p>

    <p>我没有强迫自己快速进入这个领域，因为我始终相信不停的阅读各种资料加上必要的思考与交流肯定能理解其哪怕非常偏隅的思想。目前我对它们的理解肯定进步不少，也走过了开头难的阶段，颇感欣慰。如非不可抗力，至少目前没有丝毫的动摇。</p>

    <h2>My skills</h2>
    <ul>
      <li>major (college) : Physics</li>
      <li>major (now) : Computer Graphics </li>
      <li>language : C++ JS GLSL Java AS3 </li>
      <li>personal web : <a href="http://www.zspark.me">http://www.zspark.me</a></li>
      <li>Github : <a href="https://github.com/zSpark">https://github.com/zSpark</a></li>
      <li>E-Mail : <a href="mailto:z_Spark@163.com">z_Spark@163.com</a></li>
    </ul>
    <h2>Projects involved</h2>
    <ul>
      <li>CIM/3DGis智慧城市开发平台参与开发；</li>
      <li>DUCK光线追踪个人项目；</li>
      <li>UI编辑器、2D粒子编辑器框架设计与开发；</li>
      <li>《乐三消》独立开发；</li>
      <li>公司小游戏开发（祖玛、消灭星星）；</li>
      <li>《风中奇缘》项目快速开发；</li>
      <li>3D库开发与讨论（Mirage引擎）；</li>
      <li>《冒险王1》页游移植;</li>
      <li>个人flash博客；</li>
      <li>乐一网站中的flash小游戏开发；</li>
    </ul>


    <h1>Personal Projects</h1>
    <table class="jct2">
      <tbody>
        <tr>
          <td><a href="/project?projectName=WebGL">WebGL testbed</a></td>
          <td>my testing bed of computer graphics technology</td>
        </tr>
        <tr>
          <td><a href="/project?projectName=duck">DUCK</a></td>
          <td>my ray tracing testing bed</td>
        </tr>
        <tr>
          <td><a href="/project?projectName=lsx">乐三消</a></td>
          <td>一款模拟《开心消消乐》的flash版本游戏，只为磨练技艺。</td>
        </tr>
        <tr>
          <td><a href="/project?projectName=blog">Blog</a></td>
          <td>基于nodejs开发的blog系统，也就是你正在浏览的当前网站。</td>
        </tr>
        <tr>
          <td><a href="/project?projectName=coper">Coper</a></td>
          <td>基于自定义语法的配置文件，批处理指定目录下的所有文件：拷贝、删除、过滤等等。项目的目的是简单感受编译器前端的语法解析、语义分析的过程。</td>
        </tr>
      </tbody>
    </table>

    <%- include("component/footer") %>

  </div>
</body>

</html>