<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div class="wrapper">

    <%- include("component/header",{param:{}}) %>

    <ul class="articles">
      <li>
        <p>This article is not exist,click to <a href="/editor?fileName=<%= obj.fileName %>">create.</a></p>
      </li>
    </ul>

    <%- include("component/footer") %>
  </div>
</body>

</html>