<head>
  <meta charset="utf-8">
  <title>Spark Notes</title>
  <meta name="description" content="This is a developing blog site.">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link href="/css/style.css" rel="stylesheet">
</head>