<head>
  <meta charset="utf-8">
  <title>Spark Notes</title>
  <meta name="description" content="This is a developing blog site.">
  <link rel="icon" href="/lib/custom/favicon.ico" type="image/x-icon">
  <link href="/lib/custom/style.css" rel="stylesheet">
  <!--link rel="stylesheet" href="/lib/prismjs/prism.css" data-noprefix /-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css" rel="stylesheet" />
</head>
