<header>
  <nav>
    <h1 id="logo"><a href="/"><span class="jc">Jerry</span>Chaos</a></h1>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/view?c=CG">Graphics</a></li>
      <li><a href="/view?c=language">Language</a></li>
      <li><a href="/view?c=philosophy">Philosophy</a></li>
      <li><a href="/view?c=math">Math</a></li>
      <li><a href="/view?c=default">Default</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <% if(param.fileName){ %>
      <li><a href="/edit?n=<%= param.fileName %>">edit</a></li>
      <% } %>
    </ul>
  </nav>
</header>
