<header>
  <h1><a href="/"><span style="color:rgb(161, 85, 0);">Jerry</span>Chaos</a></h1>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/view?c=language">Language</a></li>
    <li><a href="/view?c=CG">Graphics</a></li>
    <li><a href="/view?c=philosophy">Philosophy</a></li>
    <li><a href="/view?c=basic">Basic</a></li>
    <li><a href="/view?c=math">Math</a></li>
    <li><a href="/view?c=default">Default</a></li>
    <% if(param.fileName){ %>
    <li><a href="/edit?n=<%= param.fileName %>" style="color: rgb(230,230,230);">-edit-</a></li>
    <% } %>
  </ul>
</header>